
{{ template "title" .}}
  {{ if eq .Request.Endpoint "public_timeline" }}
    <h2> Public Timeline </h2>
  {{ else if eq .Request.Endpoint "user_timeline" }}
    <h2> {{ .Profile_user.username }}'s Timeline </h2>
  {{ else }}
   <h2> My Timeline </h2>
  {{ end }}
{{ template "body" .}}

  {{ if .User }}
    {{ if eq .Request.Endpoint "user_timeline" }}
      <div class=followstatus>
      {{ if eq .User.ID .Profile_user.ID }}
        This is you!
      {{ else if .Followed }}
        You are currently following this user.
        <a class=unfollow href="localhost:8080/unfollow">Unfollow user</a>.
      {{ else }}
        You are not yet following this user.
        <a class=follow href="localhost:8080/follow">Follow user</a>.
      {{ end }}
      </div>
    {{ else if eq .Request.endpoint "timeline" }}
      <div class=twitbox>
        <h3>What's on your mind {{ .User.username }}?</h3>
        <form action="localhost:8080/add_message" method=post>
          <p><input type=text name=text size=60><!--
          --><input type=submit value="Share">
        </form>
      </div>
    {{ end }}
  {{ end }}
  <ul class=messages>
  {{ if .Messages }}
    {{ range .Messages}}
    <li><img src="{{ .AvatarURL }}"><p>
      <strong><a href="localhost:8080/timeline">{{ .Username }}</a></strong>
      {{ .Text }}
      <small>&mdash; {{ .CreatedAt }}</small>
    {{ end }}
  {{ else }}
    <li><em>There's no message so far.</em>
  {{ end }}
  </ul>
  {{ template "footer" }}